@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    scrollbar-width: none; 
    position: relative;
}
body::-webkit-scrollbar {
    display: none;
  }
section{
    width: 100%;
    height: 100vh;
    display: grid;
    color: #fff;
    font-size: 30px;
    place-items: center;
    text-transform: capitalize;
}
.first-page{
    background-color: #0E1025;
}
.second-page{
    background-color: #4AA2D9;
}
.third-page{
    background-color: #F2B705;
}
.last-page{
    background-color: #F24162;
}
.active{
    position: sticky;
    top: 0;
    left: 0;
}
.not-active{
    position: sticky;
    top: 0;
}